{% extends 'base.html' %}

{% block title %}Overview - CaptchaBreaker{% endblock %}

{%block main %}
<h1>Dashboard</h1>

<section class="placeholders">
  <div class="row text-center">
    <div class="col-6 col-sm-3 placeholder">
      <h1>{{stats['last_day_count']}}</h1>
      <div class="text-muted">resolved captchas last day</div>
    </div>
    <div class="col-6 col-sm-3 placeholder">
      <h1>{{stats['total_count']}}</h1>
      <div class="text-muted">resolved captchas overall</div>
    </div>
    <div class="col-6 col-sm-3 placeholder">
      <h1>{{stats['datasets']}}</h1>
      <div class="text-muted">
        datasets
      </div>
    </div>
    <div class="col-6 col-sm-3 placeholder">
      <h1>{{stats['classifiers']}}</h1>
      <div class="text-muted">classifiers</div>
    </div>
  </div>
</section>

<h2>Classifiers in trainig</h2>

{% for classifier in classifiers %}

<div class="classifier-training" data-id="{{classifier.task_id}}">
  <div class="row">
    <div class="col-md-2">{{classifier.name}}</div><div class="col">Created at {{classifier.created_at}}</div>
  </div>
  <div>
    Status: <span class="status">PENDING</span>
  </div>
  {% if not(loop.last) %}
  <hr>
  {% endif %}
</div>


{% else %}
No classifier is currently being trained. See <a href="{{url_for('admin.clasificators')}}">classifiers list</a>
{% endfor %}

{% endblock %}


{% block custom_js %}
<script type="text/javascript" src="/admin/static/js/overview.js"></script>

{% endblock %}