<div class="col-sm-12 col-md-6">
    <div class="funkyradio">

        {% for classificator in classificators %}

        <div class="funkyradio-primary">
            <input type="radio" name="classificator" id="classificator-{{classificator.id}}" value="{{classificator.id}}" {% if loop.first %}checked{% endif %}/>

            <label for="classificator-{{classificator.id}}">{{ classificator.name }}<img class="random-image" src="{{url_for('demo.random_image', classificator_id=classificator.id)}}"></label>
        </div>
        {% endfor %}

    </div>
</div>