<nav class="navbar navbar-light navbar-toggleable-md navbar-expand-sm justify-content-center">
    <ul class="navbar-nav">
        {% for section in ['overview', 'datasets', 'classificators'] %}
        <li class="nav-item">
            {% if is_current_blueprint(request, section) %}
            <a class="nav-link active" href="{{url_for('dashboard.{}.index'.format(section))}}">{{section.capitalize()}}</a>
            {% else %}
            <a class="nav-link" href="{{url_for('dashboard.{}.index'.format(section))}}">{{section.capitalize()}}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</nav>

