{% extends 'app_base.html' %}

{% block body %}




<main role="main">
    <div class="col-lg-8 offset-lg-2 pt-3 text-center col-md-10 offset-md-1">
        <h1>CaptchaBreaker</h1>
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">

            <div id="upload-form" method="post" action="{{url_for('decode')}}">
                <div>
                    <label class="btn btn-primary">
                        Select image <input type="file" name="image" id="file-select" onchange="imageSelected()" hidden accept="image/*">
                    </label><br>
                    <label id="file-select-label"></label>
                </div>
                <div class="mb-2">
                    <img id="img-preview" max-height="150">
                </div>
                <h4 >Select classifier</h4>
                <div class="funkyradio">

                    {% for clasificator in clasificators %}
                    <div class="funkyradio-primary">
                        <input type="radio" name="clasificator" id="clasificator-{{clasificator.id}}" value="{{clasificator.id}}" {% if loop.first %}checked{% endif %}/>
                        <label for="clasificator-{{clasificator.id}}">{{ clasificator.name }}</label>
                    </div>
                    {% endfor %}
                    <div class="funkyradio-primary">
                        <input type="radio" name="clasificator" id="clasificator-101" />
                        <label for="clasificator-101">Not working ID 101</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="radio" name="clasificator" id="clasificator-102" />
                        <label for="clasificator-102">Not working ID 102</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="radio" name="clasificator" id="clasificator-103" />
                        <label for="clasificator-103">Not working ID 103</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="radio" name="clasificator" id="clasificator-104" />
                        <label for="clasificator-104">Not working ID 105</label>
                    </div>

                </div>

                <label id="btn-submit" class="btn btn-primary" onClick="submit()">Submit</label><br />
            </div>


            <div id="spinner" class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
            <div id="notification-success" class="alert alert-success">
                Recognized code is <span id="decoded-text">0000</span>.
            </div>

            <div id="notification-error" class="alert alert-danger">
                Some very specific error message.
            </div>

        </div>
    </div>
</main>
<footer>
  <div id="footer" class="container text-center small col-lg-8 offset-lg-2 col-md-10 offset-md-1">
      <div>Made with <span class="heart">&#10084;</span> by <a href="mailto:ja@kamilhanus.cz" >Kamil Hanus</a>.</div>
      <div><a href="{{ url_for('admin.index')}}" >administration</a></div>
  </div>
</footer>

{% endblock %}

{% block custom_js %}
<script src="/static/js/captcha-user-upload.js"></script>

{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="/static/css/spinner.css">
<link rel="stylesheet" href="/static/css/captcha-user-upload.css">
{% endblock %}