{% extends 'common/dashboard/base.html' %}

{% block title %}{{title_generator("Classificators")}}{% endblock %}

{%block main %}

<div>
    <div class="row">
        <div class="offset-md-9 col-md-3">
            <a class="btn btn-primary btn-block float-right" href="{{url_for('dashboard.classificators.new')}}">New classificator</a>
        </div>
    </div>
    <hr>
    <div class="container">
        {% for classificator in classificators %}
            {% include "classificators/_classificator_row.html" %}
        {% endfor %}
    </div>
</div>

{% endblock %}
