{% extends 'common/dashboard/base.html' %}
{% block custom_css %}

<link href="/static/css/dataset_detail.css" rel="stylesheet">

{% endblock %}
{% block title %}{{title_generator("Classificator detail")}}{% endblock %}
{% block main %}

<div class="container">
    <h1>Details of <i>{{classificator.name}}</i></h1>
    <div class="row">
        <div class="col">
            Dataset: <a href="{{url_for('dashboard.datasets.show', id=classificator.dataset_id)}}">{{classificator.dataset.name}}</a>
        </div>
        <div class="col">
            Loss:
        </div>
        <div class="col">
            Status:
        </div>
    </div>
    <hr>
    <h4 class="mt-3">Config</h4>
    <pre>{{pretty_print(classificator.config)}}</pre>

    <form method='post' class="" action="{{url_for('dashboard.classificators.delete', id=classificator.id)}}">
        <input type='submit' value='Delete' class="btn btn-danger mt-3">
    </form>
</div>

{% endblock %}
{% block custom_js %}
{% endblock %}
