{% extends 'common/base.html' %}

{% block body %}
<main role="main">
    <div class="col-lg-8 offset-lg-2 pt-3 text-center col-md-10 offset-md-1">
        <h1>CaptchaBreaker</h1>
    <div >
        <div class="error-code text-center h1">500 <i class="fa fa-warning"></i></div>

        <div class="error-desc">
            Sorry, page you were looking for doesn't exist. <br/>
            <a class="" href="/">
                Go back to Homepage
            </a>
        </div>
    </div>
</div>
    </main>
{% endblock %}